{% comment %}
  Renders a featured collection
{% endcomment %}

<div class="featured-collection">
  {% if section.settings.heading != blank %}
    <h2>{{ section.settings.heading }}</h2>
  {% endif %}

  {% if section.settings.collection != blank %}
    <div class="featured-collection__grid">
      {% for product in section.settings.collection.products limit: section.settings.products_to_show %}
        <div class="featured-collection__item">
          {% render 'product-card', product: product %}
        </div>
      {% endfor %}
    </div>

    {% if section.settings.show_view_all %}
      <a href="{{ section.settings.collection.url }}" class="button">
        {{ 'sections.featured_collection.view_all' | t }}
      </a>
    {% endif %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Featured collection",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "Maximum products to show"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "Show 'View all' button"
    }
  ],
  "presets": [
    {
      "name": "Featured collection"
    }
  ]
}
{% endschema %}
